<br />
<h4>Información Estadística de Clientes</h4>
<br />
<h6>Cantidad de Clientes: {{ clients.length }}</h6><br>
<h6>Promedio de Edad de Clientes {{ average }}</h6><br>
<h6>Desviación Standard de Clientes {{ stdv }}</h6><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let cust of clients">
      <th scope="row"></th>
      <td>{{ cust.nombre }}</td>
      <td>{{ cust.apellido }}</td>
      <td>{{ cust.edad }}</td>
      <td>{{ cust.fechaNacimiento }}</td>
      <td>{{ cust.fechaProbableMuerte }}</td>
      <!--td *ngIf="!filteredCustomers && !filteredCustomers.length" colspan="4">No customers found</td-->
    </tr>
  </tbody>
</table>

<br />



<br>